body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

canvas {
  border: 1px solid white;
  margin-left: 30;
  margin-right: 30px;
}

p.score {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  height: 5vw;
}

/* Sprite images just need to be loaded. */
#spriteImageContainer {
  display: none;
}

#how-to-title {
  font-size: 12px;
}

#how-to-list {
  font-size: 11px;
}

#note {
  font-size: 10px;
}
